<p>
  Hello,
</p>
<p>
  This is a reminder that you have an upcoming tour tomorrow at <%=@tour_time%>.
</p>
<br/>
<p>
  Please do not respond to this email. It was sent by an automated service.
</p>
<br/>