<div class="container-fluid">
    <h1 class="text-center my-4">Tour Check-in</h1>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <table class="table table-bordered">
                <tr>
                    <th>Tour</th>
                    <th class="text-center">Check in</th>
                </tr>
                <tbody>
                    <% current_user.tours.order(:time).each do |data| %>
                        <% if data.end_time > current_time %>
                            <tr>
                                <td><%= data.display %></td>
                                <td class="text-center">
                                    <% if checked_in? data.id %>
                                        Checked In
                                    <% else %>
                                        <%= button_to "Check In", method: :post, tour_id: data.id %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>    
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>