<h1 class="text-center my-4">Check-in Form</h1>
<form id="availability" class="input-group justify-content-center" method="post">
    <input class="btn btn-primary col-md-2 my-2 shadow-none" type="submit" value="Submit"/>
</form>