<div class="container-fluid">
    <h1 class="text-center my-4">Password Reset</h1>
    <div class="d-flex justify-content-center my-2 white-background">
        <div>
        <%= form_tag '/password' do %>
                Email 
                <br>
                <%= text_field_tag :email %>
                <br>
                Password 
                <br>
                <%= password_field_tag :password %>
                <br>
                <div class="text-center mt-2">
                    <%= submit_tag "Reset Password", class: "btn btn-primary my-1 shadow-none" %>
                </div>
            <% end %>
        </div>
    </div>
</div>