<div class="container-fluid">
    <h1 class="text-center my-4">Points</h1>
    <div class="row">
        <div class="col-md-4 offset-md-4 white-background">
            <div style="overflow-x:auto; max-height:65vh;">
                <table class="table table-bordered my-2">
                    <thead style="position:sticky; top:0%; box-shadow: inset 1px 1px #000, 0 1px #000;">
                        <tr>
                            <th>Name</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @data.order(:last_name).each do |data| %>
                        <tr>
                            <td><%= data.name_display %></td>
                            <td><%= data.points %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>