<h1 class="text-center my-1">Tour Schedule</h1>
<br/>

<% cur_user = User.find(session[:user_id]) %>

<div class="table">
  <%= month_calendar do |date| %>
    <div>
      <%= date.day %>
    </div>
    <br/>
    <% cur_user.tours.all.each do |tour| %>
      <% if tour.time.month == date.month && tour.time.day == date.day %>
        <li class="text-center">
          <%= tour.time_display %>
        </li>
      <% else %>
        <br/>
      <% end %>
    <% end %>
  <% end %>
</div>