<div class="container-fluid">
    <h1 class="text-center my-4">Guides on Tour</h1>
        <h4 class="text-center my-4"><%= @tour.display %></h4>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th class="text-center">
                            Checked In?
                        </th>
                    </tr>
                    <tbody>
                        <% @tour.users.order(:last_name).each do |user| %>
                        <tr>
                            <td><%= user.name_display %></td>
                            <td><%= user.email %></td>
                            <td class="text-center">
                                <% if (@tour.checked_in_email.include? user.email) %>
                                    Yes
                                <% else %>
                                    <a href=<%= "/users/manual_check_in/#{user.id}/#{@tour.id}" %> class="btn btn-primary btn-sm rounded-2 shadow-none">
                                    Check In
                                    </a>
                                <% end %>
                                </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
</div>