@import "bootstrap";

.navbar-brand {
    height: 90px;
    padding-left: 10px;
}
.navbar {
    background-color: #D8AB4C;
}
.nav-item{
    padding-right: 20px;
}
.nav-link{
    color: black !important;
    font-size: 1.8em !important;
}
ul.navbar-nav a:hover {
    color: #fff !important;
}

.simple-calendar {
    .calendar-heading span{
        font-weight: bold;
        font-size: 24px;
    }

    th{
        outline-color: black;
        outline-style: solid;
    }

    .day{
        background-color: #D8AB4C;
        outline-color: black;
        outline-style: solid;
        font-weight: bold;
        width: 14%;
    }
    
    .prev-month{
        background-color: black;
        color: black;
        outline-color: black;
        outline-style: solid;
    }

    .next-month{
        background-color: black;
        color: black;
        outline-color: black;
        outline-style: solid;
    }
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #D8AB4C !important;
    color: black !important;
    border-color: #D8AB4C !important;
}

.btn-primary:hover {
    background-color: #D8AB4C !important;
    color: black !important;
    border-color: black !important;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited, .btn-outline-primary:hover {
    color: black !important;
    border-color: #D8AB4C !important;
}

.btn-outline-primary:active, .btn-outline-primary:visited, .btn-outline-primary:hover {
    background-color: #D8AB4C !important;
}
