@import "bootstrap/scss/bootstrap";

body {
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/images/Background.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

thead {
    background-color: white !important;
}

.navbar-brand {
    height: 90px;
    padding-left: 10px;
}
.navbar {
    background-color: #D8AB4C;
}
.nav-item{
    padding-right: 20px;
}
.nav-link{
    color: black !important;
    font-size: 1.5em !important;
}
ul.navbar-nav a:hover {
    color: #fff !important;
}

.simple-calendar {
    .calendar-heading span{
        font-weight: bold;
        font-size: 24px;
    }

    table{
        border-left: 4px solid;
        border-right: 4px solid;
        border-color: black;
    }

    th{
        outline-color: black;
        outline-style: solid;
    }

    .day{
        background-color: #D8AB4C;
        outline-color: black;
        outline-style: solid;
        font-weight: bold;
        width: 14%;
    }
    
    .prev-month{
        background-color: black;
        outline-color: black;
        outline-style: solid;
    }

    .next-month{
        background-color: black;
        outline-color: black;
        outline-style: solid;
    }
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #D8AB4C !important;
    color: black !important;
    border-color: #D8AB4C !important;
}

.btn-primary:hover {
    background-color: #D8AB4C !important;
    color: black !important;
    border-color: black !important;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited, .btn-outline-primary:hover {
    color: black !important;
    border-color: #D8AB4C !important;
}

.btn-outline-primary:active, .btn-outline-primary:visited, .btn-outline-primary:hover {
    background-color: #D8AB4C !important;
}

.btn-check:checked + .btn-outline-primary {
    background-color: #D8AB4C !important;
}

.myBtn.collapsed {
    background-color: white !important;
}

.d-flex {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 20px;
}

.white-background {
    border: 15px solid white;
    border-radius: 8px;
    background-color: white !important;
    outline: 3px solid black;
}

.col-white-background {
    border: 10px solid white;
    border-radius: 8px;
    background-color: white !important;
    outline: 3px solid black;
}

.login-submission {
    margin-left: auto;
    margin-right: auto;
}

.submit-edit {
//    width: 60%;
    font-size: 88%;
}

.points-field {
    width: 50%;
}