<header>
    <div class = 'container'>
        <nav>
            <%= image_tag "VUTG_Logo.png" %>
            <ul>
                <li><%= link_to "Home", 'http://localhost:3000' %> </li>
                <li><%= link_to "Points", 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' %></li>
                <li><%= link_to "Schedule", 'http://localhost:3000/availability' %></li>
            </ul>
        </nav>
    </div>
</header>