<header>
    <div class = 'container'>
        <nav>
            <ul>
                <li><%= link_to "Points", 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' %></li>
                <li><%= link_to "Schedule", 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' %></li>
            </ul>
        </nav>
    </div>
</header>